@import url("../../shared/styles/variables.css");

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: var(--color-header-background);
  padding: 24px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 32px;
  line-height: 37.5px;
  color: var(--color-white);
  text-decoration: none;
}

.userContainer {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

.avatarContainer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 24px;
  height: 24px;
  background-image: url("../../shared/assets/icons/person.svg");
}

.button {
  width: 76px;
  height: 40px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.button:hover {
  cursor: pointer;
}

.buttonSignin {
  border: 1px solid var(--color-button-border);
  background-color: var(--color-button-signin-background);
  color: var(--color-button-signin-text);
}

.buttonSignout {
  border: 1px solid var(--color-button-border);
  background-color: var(--color-button-signout-background);
  color: var(--color-button-signout-text);
}
