@import url("../../shared/styles/variables.css");

.main {
    background-color: var(--color-page-background);
    padding: var(--page-padding); 
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 24px;
    min-height: 100vh;
}