:root {
  --color-background: #333333;
  --color-button-border: #e94e00;
  --color-button-background: #e94e00;
  --color-button-text: #ffffff;

  /* Button states */
  --color-button-signin-background: var(--color-button-background);
  --color-button-signin-text: var(--color-button-text);

  --color-button-signout-background: transparent;
  --color-button-signout-text: var(--color-button-background);

  --font-primary: "Roboto", sans-serif;
}
