:root {
  --color-header-background: #333333;
  --color-page-background: rgba(237, 237, 237, 1);
  --color-white: #ffffff;
  --color-button-border: #e94e00;
  --color-button-background: #e94e00;

  /* Button states */
  --color-button-signin-background: var(--color-button-background);
  --color-button-signin-text: var(--color-white);

  --color-button-signout-background: transparent;
  --color-button-signout-text: var(--color-button-background);

  --color-text-gray: rgba(153, 159, 166, 1);
  --color-border-gray: rgba(225, 227, 230, 1);
  --color-select-border-focused: #e94e00; 
  --color-select-item-hover: rgba(225, 227, 230, 0.8);

  --font-primary: "Roboto", sans-serif;

}
