@import url(../../styles/variables.css);

.rating {
  border: none;
  float: left;
  width: 200px;
}

.rating > input {
  display: none;
}

.full {
  position: relative;
}

.count {
  position: absolute;
  top: 22px;
  left: 4px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.rating > label {
  display: block;
  width: 16px;
  height: 16px;
  margin: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../assets/icons/star.svg'); 
  float: right;
  color: var(--color-gray);
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  background-image: url('../../assets/icons/star-hover.svg'); 
  cursor: pointer;
}

.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  background-image: url('../../assets/icons/star-filled.svg');
  color: var(--color-black);
}

.rating > input:checked ~ label {
  background-image: url('../../assets/icons/star-filled.svg');
  color: var(--color-black);
}

.rating > input:checked + label:hover {
  background-image: url('../../assets/icons/star-filled.svg');
  color: var(--color-black);
}

.rating > input:checked:hover + label,
.rating > input:checked:hover ~ label {
  background-image: url('../../assets/icons/star-filled.svg');
  color: var(--color-black);
}