.actorsSlider {
    margin-top: 24px;
  }
  
  .actors {
    display: flex;
    gap: 16px;
  }
  
  .actor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    text-align: center;
  }
  
  .actorPhoto {
    width: 160px;
    height: 289px;
    border-radius: var(--border-radius-size-m);
    object-fit: cover;
    margin-bottom: 8px;
  }
  