.filtersContainer {
    background-color: var(--color-white);
    border-radius: var(--border-radius-size-m);
    width: 408px;
    height: 232px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filters {
    padding: 22px;
}
  
  .title {
    margin: 0 0 16px;
    font-size: 20px;
    font-weight: bold;
  }
  